.markdown-preview.markdown-preview {
  sup {
    vertical-align: super;
    font-size: 45%;
    z-index: 1;
  }
  sub {
    vertical-align: sub;
    font-size: 45%;
    z-index: 1;
  }
  h1 {
    padding: 3px 9px;
    position: -webkit-sticky;
    position: sticky;
    top: -36px;
    color: #3c3c3c;
    background-color: #1d1f21;
    /* text-shadow: 1px 1px 2px white, 0 0 24px green, 0 0 6px darkgreen; */
    text-shadow: 1px 1px 2px white, 0 0 24px #9a98ae, 0 0 6px #005a87;
    z-index: 3;
  }
  h2 {
    color: #16559d;
    padding: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 18px;
    background-color: #1d1f21;
    z-index: 2;
  }
  h3 {
    padding: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 57px;
    background-color: #1d1f21;
    z-index: 2;
  }
  a:link {
      color: #606000;
      text-decoration: none;
  }
  a:hover,a:active {
      color: #606000;
      text-decoration: underline;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .flex-container > div {
    text-align: center;
    overflow: visible;
  }
  .resource:link {
    color: white;
    background-color: #606000;
    border-radius: 9px;
    padding: 6px 6px;
    margin: 3px;
  }
  .resource:hover,.resource:active {
    background-color: #606000;
    border-radius: 0px;
    padding: 6px 6px;
  }
}
